@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: #FFC75F;
  border-bottom: solid 2px #E7B355;
  text-align: left;
}

footer{
  position:absolute;
  bottom:0;
  height: 20px;
  background: #999;
}

.content{
  min-height: 600px;
  background-color: #333;
}

/* Welcome */

#Welcome{
  background-color: #FFC75F;
  height: 300px;
  
}

.imgContainer{
  position:relative;
  width: 200px;
  height: 200px; 
  float:left;
  margin-left:13%;
}

#Logo{
  position:absolute;
  width: 150px;
  height: 150px;
  left:25px;
  top:40px;
}

#LogoBg{
  position:absolute;
  width: 200px;
  height: 200px;
  left:0;
}

#WelcomeText{
  text-align: left;
  margin-top:50px;
  margin-left:50px;
  display:inline;
  float:left;
}


h1{
  font-family: 'Love Ya Like a sister';
  color: #FFF;
}

h3{
  font-family: 'Sanchez';
  color: #FFF;

}

/* Login */

#LoginContainer{
  height: 130px;
  box-shadow: 0px 5px 15px grey;
  background-color: #FFF;
  position:relative;
  top:75%;
  border-bottom: solid 16px #845EC2;
}

.input{
  position:absolute;
  width:90%;
  margin-left:20px;
  margin-top:25px;
  height: 60px;
  border-radius: 30px;
  border: solid #BFBFBF 5px;
  background-color: #EFEFEF;
  
}
/* Translator */

#TranslationContainer{
  height: 130px;
  box-shadow: 0px 5px 15px grey;
  background-color: #FFF;
  position:relative;
  top:75%;
  border-bottom: solid 16px #845EC2;
}

/* Text-Input */

